# Ignore node_modules globally
**/node_modules

# Ignore build outputs
**/dist
**/.next

# Ignore env files you don’t want in Docker (optional)
**/.env*

# Ignore logs and temporary files
*.log
*.tmp
*.swp

# Ignore OS junk
.DS_Store
Thumbs.db

# husky pre-commit script
.husky
